.tablink {
    background-color:blue;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
  }

.tablink:hover {
    background-color: rgb(25, 13, 189);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  #home
  #Our_creations
  #Blogs  